# Build and dependencies
node_modules/
dist/
dist-ssr/
src-tauri/target/
src-tauri/gen/schemas/
release-build/

# Local config & sensitive files
config.json
*.env
*.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Editor and OS junk
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
